/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Mar-2016, 9:16:55 AM
    Author     : c0640780
*/
html {
    background-color: lightgrey;
    text-align: center;
}
body {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
}
form {
    width: 540px;
    margin-right: 0px;
    margin-left: 0px;
}
input {
    border-radius: 5px 5px 5px 5px;
    border: 2px solid black;
    width: 55px;
    height: 30px;
    background-color: darkred;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
td {
    border: 2px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    height: 10px;
}
table {
    border: 2px solid black;
}
head {
    display: inline;
    height: 50px;
}
p {
    width: 540px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}
h1 {
    border: 2px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px 5px 5px 5px;
}

